<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">PatatasToGo</span>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Login</a>
      </li>
    </ul>
  </div>

  <span class="navbar-text">

    <ng-container *ngIf="authenticated">
      <button class="btn btn-outline-danger"
              (click)="logout()">
        Logout
      </button>
    </ng-container>

  </span>
</nav>
